@media (width>1439px) {
    :root{
        --lightgrey:#4D4F62;
        --notfullywhite:  #FAFAFA;
        --white: #fff ; 
        --cyan: #44D3D2;
        --red: #EA5454;
        --yellow: #FCAE4A;
        --blue: #549EF2;
    }
    
    body{
    font-family: 'poppins' ,sans-serif;
    background: var(--notfullywhite);
    

  } 


  .boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1200px;
  }

  .text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1px;
}

h1 , h2{
    font-size: 36px;
     width: 461px;
     height: 54px;
}

h3{
    width: 540px;
}



.super,
.teambuilder,
.karma,
.calculator{
    width: 350px;
height: 250px;
}

.super{
    margin: 30px;
}

.calculator{
    margin: 30px;
}

.super:hover{
    transition: all 2s ease-in-out;
    scale: 1.3;
    background-color: var(--cyan);
}

.teambuilder:hover{
    transition: all 2s ease-in-out;
    scale: 1.3;
    background-color: var(--red);
}

.karma:hover{
    transition: all 2s ease-in-out;
    scale: 1.3;
    background-color: var(--yellow);
}

.calculator:hover{
    transition: all 2s ease-in-out;
    scale: 1.3;
    background-color: var(--blue);
}

}